---
import blog1 from "../images/blog/Rectangle16.svg";
import blog2 from "../images/blog/Rectangle16(1).svg";
import blog3 from "../images/blog/Rectangle16(2).svg";
import blog4 from "../images/blog/Rectangle16(3).svg";
import blog5 from "../images/blog/Rectangle16(4).svg";
import blog6 from "../images/blog/Rectangle16(5).svg";
import blog7 from "../images/blog/Rectangle16(6).svg";
import blog8 from "../images/blog/Rectangle16(7).svg";
import blog9 from "../images/blog/Rectangle16(8).svg";
import blog10 from "../images/blog/Rectangle16(9).svg";
import blog11 from "../images/blog/Rectangle16(10).svg";
import blog12 from "../images/blog/Rectangle16(11).svg";
import { Image } from "astro:assets";
---

<div class="grid grid-cols-3 gap-4 w-[98%] pb-20">
  <div class="text-[#D8D8D8] bg-[#282E43] w-full max-h-[516px] rounded-[8px]">
    <div>
      <Image src={blog1} alt="blog-image" />
    </div>
    <div class="p-[24px]">
      <h3
        class="text-[#D8D8D8] text-[24px] font-normal leading-6 uppercase pb-5"
      >
        lorem ipsum dolor sit amet, consectetur adipis...
      </h3>
      <p class="text-[14px] text-[#797979] font-normal leading-[18px] pb-5">
        September 21, 2023
      </p>
      <p class="text-[16px] text-[#D8D8D8] font-normal leading-[22px] pb-5">
        lorem ipsum dolor sit amet, consectetur ut labore et dolore magna
        aliqua. viverra mauri...
      </p>
      <div class="w-full h-full text-right">
        <a
          class="text-[#7394FF] capitalize font-normal text-[16px] leading-[22px]"
          href="#">view more</a
        >
      </div>
    </div>
  </div>
  <div class="text-[#D8D8D8] bg-[#282E43] w-full rounded-[8px]">
    <div>
      <Image src={blog2} alt="blog-image" />
    </div>
    <div class="px-[24px] py-[32px]">
      <h3
        class="text-[#D8D8D8] text-[24px] font-normal leading-6 uppercase pb-5"
      >
        lorem ipsum dolor sit amet, consectetur adipis...
      </h3>
      <p class="text-[14px] text-[#797979] font-normal leading-[18px] pb-5">
        September 21, 2023
      </p>
      <p class="text-[16px] text-[#D8D8D8] font-normal leading-[22px] pb-5">
        lorem ipsum dolor sit amet, consectetur ut labore et dolore magna
        aliqua. viverra mauri...
      </p>
      <div class="w-full h-full text-right">
        <a
          class="text-[#7394FF] capitalize font-normal text-[16px] leading-[22px]"
          href="#">view more</a
        >
      </div>
    </div>
  </div>
  <div class="text-[#D8D8D8] bg-[#282E43] w-full rounded-[8px]">
    <div>
      <Image src={blog3} alt="blog-image" />
    </div>
    <div class="px-[24px] py-[32px]">
      <h3
        class="text-[#D8D8D8] text-[24px] font-normal leading-6 uppercase pb-5"
      >
        lorem ipsum dolor sit amet, consectetur adipis...
      </h3>
      <p class="text-[14px] text-[#797979] font-normal leading-[18px] pb-5">
        September 21, 2023
      </p>
      <p class="text-[16px] text-[#D8D8D8] font-normal leading-[22px] pb-5">
        lorem ipsum dolor sit amet, consectetur ut labore et dolore magna
        aliqua. viverra mauri...
      </p>
      <div class="w-full h-full text-right">
        <a
          class="text-[#7394FF] capitalize font-normal text-[16px] leading-[22px]"
          href="#">view more</a
        >
      </div>
    </div>
  </div>
  <div class="text-[#D8D8D8] bg-[#282E43] w-full rounded-[8px]">
    <div>
      <Image src={blog4} alt="blog-image" />
    </div>
    <div class="px-[24px] py-[32px]">
      <h3
        class="text-[#D8D8D8] text-[24px] font-normal leading-6 uppercase pb-5"
      >
        lorem ipsum dolor sit amet, consectetur adipis...
      </h3>
      <p class="text-[14px] text-[#797979] font-normal leading-[18px] pb-5">
        September 21, 2023
      </p>
      <p class="text-[16px] text-[#D8D8D8] font-normal leading-[22px] pb-5">
        lorem ipsum dolor sit amet, consectetur ut labore et dolore magna
        aliqua. viverra mauri...
      </p>
      <div class="w-full h-full text-right">
        <a
          class="text-[#7394FF] capitalize font-normal text-[16px] leading-[22px]"
          href="#">view more</a
        >
      </div>
    </div>
  </div>
  <div class="text-[#D8D8D8] bg-[#282E43] w-full rounded-[8px]">
    <div>
      <Image src={blog5} alt="blog-image" />
    </div>
    <div class="px-[24px] py-[32px]">
      <h3
        class="text-[#D8D8D8] text-[24px] font-normal leading-6 uppercase pb-5"
      >
        lorem ipsum dolor sit amet, consectetur adipis...
      </h3>
      <p class="text-[14px] text-[#797979] font-normal leading-[18px] pb-5">
        September 21, 2023
      </p>
      <p class="text-[16px] text-[#D8D8D8] font-normal leading-[22px] pb-5">
        lorem ipsum dolor sit amet, consectetur ut labore et dolore magna
        aliqua. viverra mauri...
      </p>
      <div class="w-full h-full text-right">
        <a
          class="text-[#7394FF] capitalize font-normal text-[16px] leading-[22px]"
          href="#">view more</a
        >
      </div>
    </div>
  </div>
  <div class="text-[#D8D8D8] bg-[#282E43] w-full rounded-[8px]">
    <div>
      <Image src={blog6} alt="blog-image" />
    </div>
    <div class="px-[24px] py-[32px]">
      <h3
        class="text-[#D8D8D8] text-[24px] font-normal leading-6 uppercase pb-5"
      >
        lorem ipsum dolor sit amet, consectetur adipis...
      </h3>
      <p class="text-[14px] text-[#797979] font-normal leading-[18px] pb-5">
        September 21, 2023
      </p>
      <p class="text-[16px] text-[#D8D8D8] font-normal leading-[22px] pb-5">
        lorem ipsum dolor sit amet, consectetur ut labore et dolore magna
        aliqua. viverra mauri...
      </p>
      <div class="w-full h-full text-right">
        <a
          class="text-[#7394FF] capitalize font-normal text-[16px] leading-[22px]"
          href="#">view more</a
        >
      </div>
    </div>
  </div>
  <div class="text-[#D8D8D8] bg-[#282E43] w-full rounded-[8px]">
    <div>
      <Image src={blog7} alt="blog-image" />
    </div>
    <div class="px-[24px] py-[32px]">
      <h3
        class="text-[#D8D8D8] text-[24px] font-normal leading-6 uppercase pb-5"
      >
        lorem ipsum dolor sit amet, consectetur adipis...
      </h3>
      <p class="text-[14px] text-[#797979] font-normal leading-[18px] pb-5">
        September 21, 2023
      </p>
      <p class="text-[16px] text-[#D8D8D8] font-normal leading-[22px] pb-5">
        lorem ipsum dolor sit amet, consectetur ut labore et dolore magna
        aliqua. viverra mauri...
      </p>
      <div class="w-full h-full text-right">
        <a
          class="text-[#7394FF] capitalize font-normal text-[16px] leading-[22px]"
          href="#">view more</a
        >
      </div>
    </div>
  </div>
  <div class="text-[#D8D8D8] bg-[#282E43] w-full rounded-[8px]">
    <div>
      <Image src={blog8} alt="blog-image" />
    </div>
    <div class="px-[24px] py-[32px]">
      <h3
        class="text-[#D8D8D8] text-[24px] font-normal leading-6 uppercase pb-5"
      >
        lorem ipsum dolor sit amet, consectetur adipis...
      </h3>
      <p class="text-[14px] text-[#797979] font-normal leading-[18px] pb-5">
        September 21, 2023
      </p>
      <p class="text-[16px] text-[#D8D8D8] font-normal leading-[22px] pb-5">
        lorem ipsum dolor sit amet, consectetur ut labore et dolore magna
        aliqua. viverra mauri...
      </p>
      <div class="w-full h-full text-right">
        <a
          class="text-[#7394FF] capitalize font-normal text-[16px] leading-[22px]"
          href="#">view more</a
        >
      </div>
    </div>
  </div>
  <div class="text-[#D8D8D8] bg-[#282E43] w-full rounded-[8px]">
    <div>
      <Image src={blog9} alt="blog-image" />
    </div>
    <div class="px-[24px] py-[32px]">
      <h3
        class="text-[#D8D8D8] text-[24px] font-normal leading-6 uppercase pb-5"
      >
        lorem ipsum dolor sit amet, consectetur adipis...
      </h3>
      <p class="text-[14px] text-[#797979] font-normal leading-[18px] pb-5">
        September 21, 2023
      </p>
      <p class="text-[16px] text-[#D8D8D8] font-normal leading-[22px] pb-5">
        lorem ipsum dolor sit amet, consectetur ut labore et dolore magna
        aliqua. viverra mauri...
      </p>
      <div class="w-full h-full text-right">
        <a
          class="text-[#7394FF] capitalize font-normal text-[16px] leading-[22px]"
          href="#">view more</a
        >
      </div>
    </div>
  </div>
  <div class="text-[#D8D8D8] bg-[#282E43] w-full rounded-[8px]">
    <div>
      <Image src={blog10} alt="blog-image" />
    </div>
    <div class="px-[24px] py-[32px]">
      <h3
        class="text-[#D8D8D8] text-[24px] font-normal leading-6 uppercase pb-5"
      >
        lorem ipsum dolor sit amet, consectetur adipis...
      </h3>
      <p class="text-[14px] text-[#797979] font-normal leading-[18px] pb-5">
        September 21, 2023
      </p>
      <p class="text-[16px] text-[#D8D8D8] font-normal leading-[22px] pb-5">
        lorem ipsum dolor sit amet, consectetur ut labore et dolore magna
        aliqua. viverra mauri...
      </p>
      <div class="w-full h-full text-right">
        <a
          class="text-[#7394FF] capitalize font-normal text-[16px] leading-[22px]"
          href="#">view more</a
        >
      </div>
    </div>
  </div>
  <div class="text-[#D8D8D8] bg-[#282E43] w-full rounded-[8px]">
    <div>
      <Image src={blog11} alt="blog-image" />
    </div>
    <div class="px-[24px] py-[32px]">
      <h3
        class="text-[#D8D8D8] text-[24px] font-normal leading-6 uppercase pb-5"
      >
        lorem ipsum dolor sit amet, consectetur adipis...
      </h3>
      <p class="text-[14px] text-[#797979] font-normal leading-[18px] pb-5">
        September 21, 2023
      </p>
      <p class="text-[16px] text-[#D8D8D8] font-normal leading-[22px] pb-5">
        lorem ipsum dolor sit amet, consectetur ut labore et dolore magna
        aliqua. viverra mauri...
      </p>
      <div class="w-full h-full text-right">
        <a
          class="text-[#7394FF] capitalize font-normal text-[16px] leading-[22px]"
          href="#">view more</a
        >
      </div>
    </div>
  </div>
  <div class="text-[#D8D8D8] bg-[#282E43] w-full rounded-[8px]">
    <div>
      <Image src={blog12} alt="blog-image" />
    </div>
    <div class="px-[24px] py-[32px]">
      <h3
        class="text-[#D8D8D8] text-[24px] font-normal leading-6 uppercase pb-5"
      >
        lorem ipsum dolor sit amet, consectetur adipis...
      </h3>
      <p class="text-[14px] text-[#797979] font-normal leading-[18px] pb-5">
        September 21, 2023
      </p>
      <p class="text-[16px] text-[#D8D8D8] font-normal leading-[22px] pb-5">
        lorem ipsum dolor sit amet, consectetur ut labore et dolore magna
        aliqua. viverra mauri...
      </p>
      <div class="w-full h-full text-right">
        <a
          class="text-[#7394FF] capitalize font-normal text-[16px] leading-[22px]"
          href="#">view more</a
        >
      </div>
    </div>
  </div>
</div>
